:root {
    --main-font: "Red Hat Display", sans-serif;
}

body {
    font-family: var(--main-font), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    font-weight: 700 ;
}

